@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:wght@300&display=swap');
body{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
h2{
  color: #761278;
  font-weight: 600;
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  font-family: 'Archivo Black', sans-serif;
}

h1{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-family:'Archivo Black', sans-serif;
  letter-spacing: 0.3rem;
  
}

p,h3,button{
  font-family: sans-serif;
}
.info p {
  font-size: 2rem;

}
#home{
  background-color:transparent;
}

.circle{
  width: 50px;
  height: 50px;
  background-color: #761278;
  border-radius: 50%;
}

.navbar-brand{
  font-size: 2rem;
}
.container-fluid{
  padding:20% 20%
}
.hire,.check{
  background-color: #761278;
  outline: none;
  border:none;
  outline: none;
  border-radius: 5px;
  margin-top: 3rem;
  padding: 6px 30px;
  cursor: pointer;  
}
.hire:hover,.check:hover{
  background-color: transparent;
  border: 2px solid #761278;
  outline: none;
  font-weight: 900;
}
.info{
  position: relative;
}

.shape{
  width: 400px;
  position:absolute;
  height: 300px;
  background-color: #761278;
  left: 400px;
   border-radius: 80% 10% 100% 50%;
  z-index: -1;
  }
.profile{
  position: absolute;
  z-index: 1;
}
.horizontal{
  width: 90px;
  height: 2px;
  background-color: #761278;
  margin: 0 auto;
  border-radius: 5px;
}
.cloud,.dev{
  width: 300px;
  height: 300px;
}
.about,.project{
  padding:0 2rem;
}
.imgprojects{
  width: 400px;
  height:400px;
  transition: all 1s ease;
  
}

.description{
  text-align: center;
  padding: 2rem 0;
}


.imgprojects:hover{
  opacity: 0.6;
  cursor:pointer;
  position: relative;
  top: -8px;
  width: 350px;
  height: 350px;
  }
.heads{
    margin: 5rem 0;
  }
.icons{
  display: flex;
  align-content: center;
  align-items: center;
}
.icon{
  padding: 3rem 3rem;
  font-size: 1.5rem;
  cursor: pointer; 
  }
  
  
  .fb,.tg{
  color: #03256c;
  transition: all 1s ease;
  opacity: 0.6;
  }
  .tw{
    color:#2978b5;
    opacity: 0.6;
    transition: all 1s ease;
  }

  .ig{
    color:#cf0000;
    opacity:0.6;
    transition: all 1s ease;
  }
  
  .tw:hover,.fb:hover,.tg:hover,.ig:hover{
    opacity: 1;
    font-size: 2rem;
    transform:rotate(360deg);

  }
